<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace务必和对应接口的全类名一致 -->
<mapper namespace="com.hh.dao.UserMapper">
    <select id="login" parameterType="Users" resultType="Users">
        SELECT userName,password FROM users
        <where>
            userName=#{userName} AND  password=#{password}
        </where>
    </select>


</mapper>